spring:
  data:
    mongodb:
      uri: mongodb://localhost:27017/admin
  application:
    name: product-service

management:
  tracing:
    sampling:
      probability: 1.0

eureka:
  client:
    service-url:
      defaultZone:
        http://eureka:password@localhost:8761/eureka
